@use '../media' as *;
@use '../mixins' as *;

.field {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 5px;

    @include mobile {
        row-gap: 10px;
    }

    &__label {
        @include fluid-text(16, 14);
    }

    &__input {
        width: 100%;
        height: var(--input-height);
        border-radius: var(--border-radius);
        padding: 18px 30px;

        @include hover {
            background-color: var(--color-accent);
        }

        @include mobile {
            padding: 18px 20px;
        }

        &:focus {
            border: var(--border);
            border-color: var(--color-accent);
            outline: none;
        }

        &::placeholder {
            color: var(--color-grey-alt)
        }

        &_textarea {
            height: 198px;
            padding: 18px 30px;
            resize: none;

            @include mobile {
                height: 132px;
            }
        }
    }
}