<dialog class="mobile-overlay visible-mobile"
    id="mobileOverlay" aria-label="navigation manu">
    <form class="mobile-overlay__close-button-wrapper">
        <button class="mobile-overlay__close-button cross-button"
            type="submit"
            formmethod="dialog"
            aria-label="Close navigation menu">
            </button>
    </form>
    <section class="mobile-overlay__body">
        <nav class="mobile-overlay__nav"
            aria-labelledby="mobileOverlay">
            <ul class="mobile-overlay__list">
                <li class="mobile-overlay-item">
                    <a class="mobile-overlay-link"
                        href="#">About us</a>
                </li>
                <li class="mobile-overlay-item">
                    <a class="mobile-overlay-link"
                        href="#">Services</a>
                </li>
                <li class="mobile-overlay-item">
                    <a class="mobile-overlay-link"
                        href="#">Use Cases</a>
                </li>
                <li class="mobile-overlay-item">
                    <a class="mobile-overlay-link"
                        href="#">Pricing</a>
                </li>
                <li class="mobile-overlay-item">
                    <a class="mobile-overlay-link"
                        href="#">Blog</a>
                </li>
            </ul>
        </nav>

    </section>
</dialog>