<dialog class="mobile-overlay visible-mobile"
    id="mobileOverlay">
    <form class="mobile-overlay__close-button-wrapper">
        <input class="mobile-overlay__close-button cross-button"
            type="submit"
            formmethod="dialog"
            value=""
            aria-label="Close navigation menu">
    </form>
    <section class="mobile-overlay__body">
        <nav class="mobile-overlay__nav">
            <ul class="mobile-ovelay__list">
                <li class="mobile-ovelay-item">
                    <a class="mobile-ovelay-link"
                        href="#">About us</a>
                </li>
                <li class="mobile-ovelay-item">
                    <a class="mobile-ovelay-link"
                        href="#">Services</a>
                </li>
                <li class="mobile-ovelay-item">
                    <a class="mobile-ovelay-link"
                        href="#">Use Cases</a>
                </li>
                <li class="mobile-ovelay-item">
                    <a class="mobile-ovelay-link"
                        href="#">Pricing</a>
                </li>
                <li class="mobile-ovelay-item">
                    <a class="mobile-ovelay-link"
                        href="#">Blog</a>
                </li>
            </ul>
        </nav>

    </section>
</dialog>