<section class="section container"
    aria-label="case studies">
    <header class="section__title"
        aria-label="case studies header">
        <h2 class="section__header puddle-bg">Case Studies</h2>
        <div class="section__description">
            <p>Explore Real-Life Examples of Our Proven Digital Marketing Success through Our Case Studies</p>
        </div>
    </header>
    <div class="section__body">
        <div class="studies">
            <ul class="studies__list">
                <li class="studies__item">
                    <div class="studies__description">
                        <p>For a local restaurant, we implemented a targeted PPC campaign that resulted in a 50%
                            increase in website traffic and a 25% increase in sales.</p>
                    </div>
                    <a href="/"
                        aria-label="Learn more"
                        class="studies__link link link_simple link_simple-accent"
                        aria-label="">
                        <span class="studies__link-icon-wrapper link__icon-wrapper">
                            <svg class="link__icon">
                                <use href="/assets/img/icons/sprites.svg#icon-arrow-right-up"></use>
                            </svg>
                        </span>
                        <span class="studies__link-label link__label">Learn more</span>
                    </a>
                </li>
                <li class="studies__item">
                    <div class="studies__description">
                        <p>For a B2B software company, we developed an SEO strategy that resulted in a first page
                            ranking for key keywords and a 200% increase in organic traffic.</p>
                    </div>
                    <a href="/"
                        aria-label="Learn more"
                        class="studies__link link link_simple link_simple-accent"
                        aria-label="">
                        <span class="studies__link-icon-wrapper link__icon-wrapper">
                            <svg class="link__icon">
                                <use href="/assets/img/icons/sprites.svg#icon-arrow-right-up"></use>
                            </svg>
                        </span>
                        <span class="studies__link-label link__label">Learn more</span>
                    </a>
                </li>
                <li class="studies__item">
                    <div class="studies__description">
                        <p>For a national retail chain, we created a social media marketing campaign that increased
                            followers by 25% and generated a 20% increase in online sales.</p>
                    </div>
                    <a href="/"
                        aria-label="Learn more"
                        class="studies__link link link_simple link_simple-accent"
                        aria-label="">
                        <span class="studies__link-icon-wrapper link__icon-wrapper">
                            <svg class="link__icon">
                                <use href="/assets/img/icons/sprites.svg#icon-arrow-right-up"></use>
                            </svg>
                        </span>
                        <span class="studies__link-label link__label">Learn more</span>
                    </a>
                </li>
            </ul>
        </div>

    </div>
</section>