<section class="section container"
    aria-label="our working process">
    <header class="section__title"
        aria-label="working process header">
        <h2 class="section__header puddle-bg">Team</h2>
        <div class="section__description">
            <p>Meet the skilled and experienced team behind our successful digital marketing strategies</p>
        </div>
    </header>
    <div class="section__body">
        <div class="team">
            <ul class="team__list grid grid_3">
                <li class="team__item">
                    <article class="team-card">
                        <header class="team-card__header">
                            <img src="/assets/img/card-1.svg"
                                alt="card image"
                                class="team-card__image">
                            <div class="team-card__info">
                                <h3 class="team-card__name h4">John Smith</h3>
                                <p class="team-card__post">CEO and Founder</p>
                            </div>
                            <a href="/"
                                class="team-card__link"
                                target="_blank"
                                aria-label="LinkedIn">
                                <svg class="team-card__link-image">
                                    <use href="/assets/img/icons/sprites.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                        </header>
                        <div class="team-card__body">
                            <p>10+ years of experience in digital marketing. Expertise in SEO, PPC, and content strategy
                            </p>
                        </div>
                    </article>
                </li>
                <li class="team__item">
                    <article class="team-card">
                        <header class="team-card__header">
                            <img src="/assets/img/card-2.svg"
                                alt="card image"
                                class="team-card__image">
                            <div class="team-card__info">
                                <h3 class="team-card__name h4">Jane Doe</h3>
                                <p class="team-card__post">Director of Operations</p>
                            </div>
                            <a href="/"
                                class="team-card__link"
                                target="_blank"
                                aria-label="LinkedIn">
                                <svg class="team-card__link-image">
                                    <use href="/assets/img/icons/sprites.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                        </header>
                        <div class="team-card__body">
                            <p>7+ years of experience in project management and team leadership. Strong organizational
                                and communication skills
                            </p>
                        </div>
                    </article>
                </li>
                <li class="team__item">
                    <article class="team-card">
                        <header class="team-card__header">
                            <img src="/assets/img/card-3.svg"
                                alt="card image"
                                class="team-card__image">
                            <div class="team-card__info">
                                <h3 class="team-card__name h4">Michael Brown</h3>
                                <p class="team-card__post">Senior SEO Specialist</p>
                            </div>
                            <a href="/"
                                class="team-card__link"
                                target="_blank"
                                aria-label="LinkedIn">
                                <svg class="team-card__link-image">
                                    <use href="/assets/img/icons/sprites.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                        </header>
                        <div class="team-card__body">
                            <p>5+ years of experience in SEO and content creation. Proficient in keyword research and
                                on-page optimization
                            </p>
                        </div>
                    </article>
                </li>
                <li class="team__item">
                    <article class="team-card">
                        <header class="team-card__header">
                            <img src="/assets/img/card-4.svg"
                                alt="card image"
                                class="team-card__image">
                            <div class="team-card__info">
                                <h3 class="team-card__name h4">Emily Johnson</h3>
                                <p class="team-card__post">PPC Manager</p>
                            </div>
                            <a href="/"
                                class="team-card__link"
                                target="_blank"
                                aria-label="LinkedIn">
                                <svg class="team-card__link-image">
                                    <use href="/assets/img/icons/sprites.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                        </header>
                        <div class="team-card__body">
                            <p>3+ years of experience in paid search advertising. Skilled in campaign management and
                                performance analysis
                            </p>
                        </div>
                    </article>
                </li>
                <li class="team__item">
                    <article class="team-card">
                        <header class="team-card__header">
                            <img src="/assets/img/card-5.svg"
                                alt="card image"
                                class="team-card__image">
                            <div class="team-card__info">
                                <h3 class="team-card__name h4">Brian Williams</h3>
                                <p class="team-card__post">Social Media Specialist</p>
                            </div>
                            <a href="/"
                                class="team-card__link"
                                target="_blank"
                                aria-label="LinkedIn">
                                <svg class="team-card__link-image">
                                    <use href="/assets/img/icons/sprites.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                        </header>
                        <div class="team-card__body">
                            <p>4+ years of experience in social media marketing. Proficient in creating and scheduling
                                content, analyzing metrics, and building engagement
                            </p>
                        </div>
                    </article>
                </li>
                <li class="team__item">
                    <article class="team-card">
                        <header class="team-card__header">
                            <img src="/assets/img/card-6.svg"
                                alt="card image"
                                class="team-card__image">
                            <div class="team-card__info">
                                <h3 class="team-card__name h4">Sarah Kim</h3>
                                <p class="team-card__post">Content Creator</p>
                            </div>
                            <a href="/"
                                class="team-card__link"
                                target="_blank"
                                aria-label="LinkedIn">
                                <svg class="team-card__link-image">
                                    <use href="/assets/img/icons/sprites.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                        </header>
                        <div class="team-card__body">
                            <p>2+ years of experience in writing and editing
                                Skilled in creating compelling, SEO-optimized content for various industries
                            </p>
                        </div>
                    </article>
                </li>
            </ul>
            <button class="team__button button button_primary">See all team</button>
        </div>
    </div>
</section>