@use './styles/index';
@use './styles/variables' as *;
@use './styles/mixins' as *;
@use './styles/media' as *;

.parent {
    position: relative;
    height: 300px;
    border: 1px solid green;
    background-color: lightgoldenrodyellow;

    @include mobile {
        background-color: lightgreen;
    }

    @include tablet {
        background-color: lightcoral;
    }

    @include desktop {
        background-color: lightskyblue;
    }
}

.child {
    height: 150px;
    width: 50%;
    border: 1px solid red;
    // background-color: lightblue

    @include abs-center;

    &:active {
        border-color: blue;
    }

}